extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Editorial:
      input#title.form-control(type='text', placeholder='Name of editorial' name='title' required='true' value=(undefined===editorial ? '' : editorial.name) )
    
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg